<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 class="text-margin-bottom border-bottom font_2">Blog edit</h3>
			<div class="col-md-12">
				<%= form_for(@blog) do |f| %>

					<% if @blog.errors.any? %>
						<div id="error_explanation" class="alert alert-danger">
							<h2 class="error_font"><%= @blog.errors.count %>件のエラーが発生しました。</h2>
							<ul>
								<% @blog.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4 class="font_3">Title:</h4>
						<p><%= f.text_field :title %></p>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4 class="font_3">Category:</h4>
						<p><%= f.text_field :category %></p>
					</div>

					<div class="row blog-margin">
						<h4 class="font_3">Body:</h4>
					</div>
					<div class="row blog-margin font_3">
						<%= f.text_area :blog_body, rows:"15", class: "col-md-12" %>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7; border-top: 1px solid #f7f7f7;">
						<h4 class="font_3">Image:</h4>
						<p><%= f.attachment_field :blog_image %></p>
					</div>

					<div class="row blog-margin">
						<%= f.submit 'Update', class: "btn btn-default font_4" %>　
						<%= link_to 'Cancel', blog_path(@blog), class: "font_4" %>
					</div>
				<% end %>

			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>

