<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "layouts/sidebar_left" %>
		</div>

		<div class="col-md-6">
			<h2>Blogs</h2>
			<% @blogs.each do |blog| %>
				<%= attachment_image_tag blog, :blog_image, :fill, 200, 200, format: 'jpg' %>
				<h4>title</h4>
				<%= link_to blog.title, blog_path(blog) %>

				<%= blog.created_at.strftime('%Y/%m/%d') %>
				<p style="color: red;">Category</p>
				<%= attachment_image_tag blog.user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40' %>
				<%= link_to blog.user.name, user_path(blog.user_id) %>

			<% end %>
			<%= paginate @blogs, class: "paginate" %>
		</div>

		<div class="col-md-2">
			<%= render "layouts/sidebar_right" %>
		</div>
	</div>
</div>
