<div class="container">
	<h1>Blogs</h1>
	<% @blogs.each do |blog| %>
		<%= attachment_image_tag blog, :blog_image, :fill, 200, 200, format: 'jpg' %>
		<h4>title</h4>
		<%= link_to blog.title, blog_path(blog) %>

		<%= blog.created_at.strftime('%Y/%m/%d') %>
		<p style="color: red;">Category</p>
		<%= attachment_image_tag blog.user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40' %>
		<%= blog.user.name %>

	<% end %>
</div>
