<div class="container">
	<h1>Create New</h1>
	<%= form_for(@blog) do |f| %>
		<h3>Title</h3>
		<%= f.text_field :title %>

		<h3>Category</h3>
		<p style="color: red">未実装</p>

		<h3>Body</h3>
		<%= f.text_area :blog_body %>

		<h3>Image</h3>
		<%= f.attachment_field :blog_image %>

		<%= f.submit 'Create' %>
	<% end %>
</div>

