<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 class="text-margin-bottom border-bottom">Create New</h3>
			<div class="col-md-12">
				<%= form_for(@blog) do |f| %>

					<% if @blog.errors.any? %>
						<div id="error_explanation" class="alert alert-danger">
							<h2 class="error_font"><%= @blog.errors.count %>件のエラーが発生しました。</h2>
							<ul>
								<% @blog.errors.full_messages.each do |message| %>
								<li><%= message %></li>
								<% end %>
							</ul>
						</div>
					<% end %>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4>Title:</h4>
						<p><%= f.text_field :title %></p>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4>Category:</h4>
						<p><%= f.text_field :category %></p>
					</div>

					<div class="row blog-margin">
						<h4>Body:</h4>
					</div>
					<div class="row blog-margin">
						<p><%= f.text_area :blog_body, rows:'15', class: "col-md-12" %></p>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7; border-top: 1px solid #f7f7f7;">
						<h4>Image:</h4>
						<%= f.attachment_field :blog_image %>
					</div>

					<div class="row blog-margin">
						<%= f.submit 'Create', class: "btn-sm" %>　
						<%= link_to 'Cancel', blogs_path %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
