<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "layouts/sidebar_left", info_user: @info_user, create_user: @create_user, create_new: @create_new %>
		</div>

		<div class="col-md-6">
			<h3 class="text-margin-bottom border-bottom">Blog</h3>
			<div class="col-md-12 blog-margin" style="font-size: 25px;">
				<strong><%= @blog.title %></strong>
			</div>
			<div class="col-md-12 blog-margin">
				<span class="btn" style="font-size: 10px; background-color: #848282; color: white;">Category</span>　　<%= @blog.created_at.strftime('%Y/%m/%d %H:%M') %>
			</div>
			<div class="col-md-12 blog-margin">
				<%= attachment_image_tag @blog, :blog_image, :fill, 525, 450, format: 'jpg' %>
			</div>
			<div class="col-md-12 blog-margin">
				<p style="word-wrap: break-word;"><%= @blog.blog_body %></p>
			</div>
			<div class="col-md-12 blog-margin">
				<span class="glyphicon glyphicon-comment" aria-hidden="true"> <%= @blog.comments.count %> comments</span>　　
				<% if @blog.favorited_by?(current_user) %>
					<%= link_to blog_favorites_path(@blog), method: :delete do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"> <%= @blog.favorites.count %></span>
					<% end %>
				<% else %>
					<%= link_to blog_favorites_path(@blog), method: :post do %>
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
					<% end %>
				<% end %>
				<% if @blog.user == current_user %>
					<%= link_to 'Edit', edit_blog_path(@blog), class: "btn btn-primary" %>
					<%= link_to 'Delete', blog_path(@blog), method: :delete, "data-confirm"=> "Do you really want to delete this?", class: "btn btn-danger" %>
				<% end %>
			</div>
			<div class="col-md-12">
				<% @comments.each do |comment| %>
					<table class="table">
						<tbody>
							<tr>
								<td>
									<%= link_to user_path(comment.user.id) do %>
										<%= attachment_image_tag comment.user, :profile_image, :fill, 40, 40, format: 'jpg', fallback: "no_image.jpg", size:'40x40' %> <%= comment.user.name %>
									<% end %>
								</td>
								<td><%= comment.created_at.strftime('%Y/%m/%d %H:%M') %></td>
								<td>
									<% if comment.user == current_user || @blog.user == current_user %>
										<%= link_to blog_comment_path(comment.blog_id,comment), method: :delete, "data-confirm"=>"Do you want to delete the comment?" do %>
											<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										<% end %>
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>
					<p style="word-wrap: break-word;"><%= comment.comment_body %></p>
				<% end %>
			</div>
			<div class="col-md-12">
				<%= form_for [@blog, @comment] do |f| %>
					<%= f.text_area :comment_body, rows:'5', class: "col-md-12 blog-margin" %>
					<%= f.submit 'To comment', class: "btn-sm" %>
				<% end %>
			</div>
		</div>
		<div class="col-md-3">
			<%= render "layouts/sidebar_right" %>
		</div>
	</div>
	<div style="text-align: center;">
		paging設置予定
	</div>
</div>
