<div class="container">
	<div class="row">
		<div class="col-md-2"></div>
		<div class="col-md-8">
			<h3 class="text-margin-bottom border-bottom">User edit</h3>
			<div class="col-md-12">
				<%= form_for(@user) do |f| %>
					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4>Name:</h4>
						<p><%= f.text_field :name %></p>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7;">
						<h4>Mini profile:</h4>
						<p><%= f.text_field :mini_profile_text %></p>
					</div>

					<div class="row blog-margin">
						<h4>Profile:</h4>
					</div>
					<div class="row blog-margin">
						<%= f.text_area :profile_text, class: "col-md-12" %>
					</div>

					<div class="row blog-margin" style="border-bottom: 1px solid #f7f7f7; border-top: 1px solid #f7f7f7;">
						<h4>Profile image:</h4>
						<p><%= f.attachment_field :profile_image %></p>
					</div>

					<div class="row blog-margin">
						<%= f.submit 'Update', class: "btn-sm" %>　
						<%= link_to 'Cancel', users_path %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
	<div class="col-md-2"></div>
</div>
