<div class="main_visual_container">

	<div id="container">
			<div class="main_visual_text_container">
		<p class="main_visual_text font-family font_3">
			The world is a book<br>
			and those who do not travel<br>
			read only one page.<br>
			<br>
			St. Augustine
		</p>
	</div>
		<div id="theTarget">
			<div class="slide_users_image1 slide"></div>
			<div class="slide_users_image2 slide"></div>
			<div class="slide_users_image3 slide"></div>
			<div class="slide_users_image4 slide"></div>
			<div class="slide_users_image5 slide"></div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "layouts/sidebar_left", info_user: @info_user, create_user: @create_user, create_new: @create_new %>
		</div>
		<div class="col-md-6">
			<h3 class="text-margin-bottom border-bottom font_2">Users</h3>
			<div class="col-md-12 blogs-container"  style="margin-bottom: 30px;">
				<% @users.each do |user| %>
					<div class="row" style="margin-bottom: 20px;">
						<div class="col-md-3">
							<%= link_to user_path(user) do %>
								<%= attachment_image_tag user, :profile_image, :fill, 100, 100, format: 'jpg', fallback: "/image/no_image.jpg", size:'100x100' %>
							<% end %>
						</div>
						<div class="col-md-8">
							<table class="table table-hover table-responsive">
								<tbody>
									<tr style="border-bottom: 1px solid #ddd;">
										<td><%= link_to user.name, user_path(user), class: "font_4" %></td>
										<td class="font_4"><%= user.blogs.count %> blogs</td>
										<td>
											<% if current_user.id == 1 %>
												<%= link_to user_path(user), method: :delete, "data-confirm"=>"Do you want to delete the comment?" do %>
													<span class="glyphicon glyphicon-trash font_4" aria-hidden="true"></span>
												<% end %>
											<% end %>
										</td>
									</tr>
								</tbody>
							</table>
							<p class="font_4"><%= user.mini_profile_text %></p>
						</div>
					</div>
				<% end %>
			</div>
		</div>
		<div class="col-md-3">
			<%= render "layouts/sidebar_right", side_images: @side_images %>
		</div>
	</div>
	<div style="text-align: center;">
		<%= paginate @users, class: "paginate" %>
	</div>
</div>