<div class="container">
	<div class="row">
		<div class="col-md-3">
			<%= render "layouts/sidebar_left", info_user: @info_user, create_user: @create_user, create_new: @create_new %>
		</div>

		<div class="col-md-6">
			<h3 class="text-margin-bottom border-bottom"><strong><%= @user.name %></strong>'s blog list</h3>
			<% @blogs.each do |blog| %>
			<div class="col-md-12 blogs-container"  style="margin-bottom: 30px;">
				<div class="col-md-7">
					<%= attachment_image_tag blog, :blog_image, :fill, 290, 250, format: 'jpg' %>
				</div>
				<div class="col-md-5">
					<table class="table">
						<thead>
							<tr>
								<th colspan="2" style="font-size: 18px;"><%= link_to blog.title, blog_path(blog) %></th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td style="line-height: 40px;"><%= blog.created_at.strftime('%Y/%m/%d') %></td>
								<td class="btn" style="margin: 10px 0; font-size: 10px; background-color: #848282; color: white;">Category</td>
							</tr>
							<tr>
								<td><span class="glyphicon glyphicon-comment" aria-hidden="true"> <%= blog.comments.count %></span></td>
								<td>
									<% if blog.favorited_by?(current_user) %>
										<%= link_to blog_favorites_path(blog), method: :delete do %>
											<span class="glyphicon glyphicon-heart" aria-hidden="true" style="color: red;"> <%= blog.favorites.count %></span>
										<% end %>
									<% else %>
										<%= link_to blog_favorites_path(blog), method: :post do %>
												<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
										<% end %>
									<% end %>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<% end %>
		</div>
		<div class="col-md-3">
			<%= render "layouts/sidebar_right" %>
		</div>
	</div>
	<div style="text-align: center;">
		<%= paginate @blogs, class: "paginate" %>
	</div>
</div>