<!DOCTYPE html>
<html>
  <head>
    <title>WHIPLASH</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <%= render "layouts/header" %>

    <%= yield %>

    <footer style="background-color: #848282; width: 100%; text-align: center; padding: 50px; margin-top: 50px;">
      <p style="color: white;" class="font_4" >© All rights reserved by Infratop.Inc ? </p>
    </footer>

  </body>
</html>